---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('06 March 2024')}
	heroImage="/blog-codingbanner.jpg"
>
        <p>
            Hello! To be straight up, I just like feeling useful and so I want to present as much content that resonates with others who are going through the same journey as me. 
        </p>

        <p>
            I myself am a self taught developer who is trying to enter the field where my only experience is being a factory worker. I am sure you can imagine that this is no simple feat. I have watched countless videos of people who made it by teaching themselves how to code and this is what prompted me to take the leap of faith and do everything I can to enter this field. But there was a bit of an issue... All the content creators you see are based in America so their experience wouldn't necessarily be an exact representation of what happens down here in Sydney, Australia.
        </p>

        <p>So here I am doing my best! What drives me to develop and learn revolves entirely around creating any product that actually helps people.</p>

        <p>
            For instance, you have no idea how excited I felt when I first released my Telegram chatbot. All it did was just read an incoming Telegram message that contained attendance figures and summed them all up in a report which was sent back to the chat. It also gave alerts if people miscalculated their attendance figures in their groups. Although simple, it ended up being adopted by my volunteer team. I remember adding the bot to the chats for the first time and seeing their responses as if they were the cave men who discovered fire. "Wooooow how cool" "How does it work?" "WOOOOOOOWW", they all said. It was amazing seeing this as I knew under the hood it was just rudimentary spaghetti code.
        </p>

        <p>
            So I hope to continue creating things like this that give such a reaction. Do you want to see more about the story? Check out the <a href='/blog'>Blog</a> 😁
        </p>
</Layout>
