---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👨‍💻 Welcome!</h1>
            <p>
                Glad you could make it to this space. My name is Dave and I'm a self-taught software developer who focusses on the frontend and I'm diving into design systems. But I also love making neat internal tools for others that speed up all the boring stuff which you can see in the blog.
            </p>
			<p>
                So anything that involves customisation for better performance, I love. <br />
                Sports cars, or even my coding editor, these are the things that I enjoy tinkering with. Did I mention I use Neovim and Arch Linux btw? ... Sorry.</p>
            <p>
                Anyways, check out the car photography page if you're into that. <a href="https://www.instagram.com/octane_fume/">@Octane_fume</a>
			</p>

            <br />
            <hr />
            <br />

            <h5>What is this blog for?</h5>
            
            <p>
                To start off with, I do like being in service to others and teaching. As someone who is trying to get into the field without a Comsci degree, it is a very tricky road that requires perseverance. BUT! I've had numerous conversations with engineers that I reached out to who were kind enough to take time out of their day just to be able to help me out even though I was a complete stranger to them. I realised how thankful of a thing this is, so if I may be of any help or service to my fellow developer, then that would be very rewarding to me. 
            </p>

            <p>
                Hence in this blog, you will find documentation of my learnings that can assist in building the same exact applications and I have also included my thought process and the considerations I made for the goal of making the most useful and pragmatic software solution.
            </p>

            <p>
                To give a clearer example, I work in an organisation that heavily uses Telegram and Google Sheets. I found problems where internal tools would be appropriate solutions, such as chat bots in Telegram that aggregate attendance data and even React dashboards to visualise data pulled from a Google Spreadsheet used as a database!
            </p>

			<p>
                So if you want to go on a deep dive into the thought process and the methodology of making those applications, then check out the <a href='/blog'>Blog</a> 😁
			</p>
		</main>
		<Footer />
	</body>
</html>
